{% extends "layout.html" %}

{% block heading %}
    Your account details
{% endblock %}

{% block body %}
    <form method="POST">
      <div class="form-group row">
        <label for="staticUsername" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticUsername" value="{{ user.username }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" name="inputEmail" id="inputEmail" value="{{ user.email|default('', true) }}">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
{% endblock %}