{% extends "layout.html" %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('search') }}">Search</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ book.title }}</li>
    </ol>
  </nav>
{% endblock %}
  
{% block heading %}
    {{ book.title }}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-6">

      <section class="book_details mb-5">
        <p>ISBN: {{ book.isbn }}</p>
        <p>Author: {{ book.author }}</p>
        <p>Published in: {{ book.year }}</p>
      </section>
      
      {% if not submitted_review %}
      <section id="submit_review" class="mb-5">
        <h2>Write a review</h2>
        <form method="POST">
          <div class="form-group">
            <label>Your overall rating:</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rating" id="rate1" value="1" required>
              <label class="form-check-label" for="rate1">1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rating" id="rate2" value="2">
              <label class="form-check-label" for="rate2">2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rating" id="rate3" value="3">
              <label class="form-check-label" for="rate3">3</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rating" id="rate4" value="4">
              <label class="form-check-label" for="rate4">4</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rating" id="rate5" value="5">
              <label class="form-check-label" for="rate5">5</label>
            </div>
          </div>

          <div class="form-group">
            <label for="review">Write your review:</label>
            <textarea class="form-control" name="review" rows="4"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
      {% endif %}

      <section id="reviews" class="mb-5">
        {% if reviews %}
            <h2>{{ reviews|count }} Reviews</h2>
            <ul class="list-unstyled">
            {% for review in reviews %}
                <li class="mb-4">
                  <strong>{{ review.username }}</strong><br>
                  {{ review.rating }} stars
                  <p>{{ review.review }}</p>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No reviews so far.</p>
        {% endif %}
      </section>
    </div>

    <div class="col-md-6">
      {% if goodreads_stats %}
          <img src="https://s.gr-assets.com/assets/icons/goodreads_icon_100x100-4a7d81b31d932cfc0be621ee15a14e70.png" alt="Goodreads icon 100x100" class="float-left mr-3">
          <section id="goodreads_rating" class="mb-5">
            <h2 class="h5">Average rating on Goodreads:</h2>
            <p>
               <strong> {{ goodreads_stats.books[0].average_rating }} out of 5</strong>
                <br>
                Based on {{ goodreads_stats.books[0].work_ratings_count }} ratings
            </p>
          </section>
      {% endif %}
    </div>

  </div>{# end row #}
   
{% endblock %}