{% extends "layout.html" %}

{% block heading %}
    Error
{% endblock %}

{% block body %}
  {% if message %}
    <div class="alert alert-warning" role="alert">
      {{ message }}
    </div>
  {% else %}
    <div class="alert alert-warning" role="alert">
      Something went wrong.
    </div>
  {% endif %}

<p><a href="javascript:history.back()">Go back</a> or <a href="{{ url_for('index') }}">go to the homepage</a></p>

   
{% endblock %}