{% extends "layout.html" %}

{% block heading %}
    Home
{% endblock %}

{% block body %}
    <p class="lead">Recommend and discover books</p>
    <hr class="my-4">
    <p>Sign up to search in a database of 5000 books by isbn, title or author.<br>
    Leave reviews for your favourite books and get individual book data via API.</p>
    <a class="btn btn-primary btn-large" href="{{ url_for('register') }}">Get started</a>

{% endblock %}
