<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>{% block heading %}{% endblock %} - Books</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand navbar-light bg-warning">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('index') }}">Books</a>
          
          <ul class="navbar-nav ml-auto">
            {% if 'user_id' in session %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('account') }}">Account</a>
              </li>
                
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
              </li>
                  
            {% endif %}
          </ul>
          
        </div>
      </nav>

    </header>

    <div class="container my-5">

      {# Flashed messages go here #}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block breadcrumb %}
      {% endblock %}

      <h1>{{ self.heading() }}</h1>

      {% block body %}
      {% endblock %}

    </div>

    <footer>
        <hr>
        <div class="container">
          <p>&copy; Copyright 2019 Alexandra Zaicu-Lenard</p>
        </div>
        
    </footer>
  </body>
</html>