{% extends "layout.html" %}

{% block heading %}
Welcome! Please log in!
{% endblock %}

{% block body %}
{% if message %}
  <div class="alert alert-primary" role="alert">
    {{ message }}
  </div>
{% endif %}

<form class="login" action="{{ url_for('login') }}" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
<p>
  If you don't have an account yet, you can <a href="{{ url_for('register') }}">register for one</a>.
</p>


{% endblock %}