{% extends "layout.html" %}

{% block heading %}
Register to get started
{% endblock %}

{% block body %}
  {% if message %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
  {% endif %}
<form class="register" action="{{ url_for('register') }}" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control"  pattern="[A-Za-z0-9_]{1,32}" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control"  pattern="[A-Za-z0-9_]{8,32}" required>
    <small class="form-text text-muted">Set a password containing letters, numbers or underscores.</small>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat rutrum nisi at pellentesque. Fusce orci magna,
  pulvinar ut ultricies id, feugiat eu elit. Nam molestie eu lacus eu fermentum. Fusce eleifend tempus sapien eu
  maximus. Donec lobortis dapibus magna, quis facilisis velit malesuada a. Nunc iaculis augue nulla, sed sodales dui
  volutpat lacinia.
</p>


{% endblock %}