{% extends "layout.html" %}

{% block heading %}
    Search for books
{% endblock %}

{% block body %}
<form class="form-inline" method="POST">
  <div class="form-group">
      <input type="text" name="search" class="form-control mr-2" required>
      <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
<small class="form-text text-muted">Search books by ISBN, title or author.</small>

{% if message %}
    <div class="alert alert-warning mt-5" role="alert">
      {{ message }}
    </div>
{% endif %}

{% if results %}
    <section class="search_results">
      <h2 class="mt-5 mb-4 h5">Search results:</h2>
      <ul class="list-unstyled">
        {% for book in results %}
            <li>
              <a href="/book/{{book.id}}"><h3>{{ book.title }}</h3></a>
              <p>by {{ book.author }}<br>
                <small class="text-muted">ISBN: {{book.isbn}}</small></p>
            </li>
        {% endfor %}
      </ul>
    </section>
{% endif %}
   
{% endblock %}