{% extends "layout.html" %}

{% block heading %}
    Thank you for registering.
{% endblock %}

{% block body %}
    <p>
        Here is what you can do further:
    </p>

    <a href="{{ url_for('search') }}">Search through books</a> | <a href="{{ url_for('account') }}">Check your account details</a>
   
{% endblock %}
